.landing-page {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.landing-page-container {
    margin-bottom: 50px;
}

.input-customer-name-wrapper {
    margin-top: 70px;
    background-color: aliceblue;
    padding: 10px;
}

.customer-name-label {
    margin-right: 25px;
}
